{% include "navbar.html" %}
<section class="text-gray-600 body-font -mt-20">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div
         class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-blue-900">Seja um mantenedor
        <br class="hidden lg:inline-block">dessa obra!
      </h1>
      <div class="ml-20 bg-gray-200 p-20 rounded-lg text-2xl">
        <h1 class="">Banco Brasdesco</h1>
        <h2>IGREJA MISSÃO EV. PORTA CEU</h2>
        <h2>CNPJ - 03.08.899./0001-98</h2>
        <h3>Agência - 2003</h3>
        <h3>Conta - 21418-3</h3>
      </div>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <h2 class="text-3xl text-blue-900 font-semibold">Doações recebidas:</h2>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                     src="/static/img/doacoes/agua.jpg"
                     alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Doação de Agua</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Semanal</h2>
                <p class="leading-relaxed text-base">Recebemos doações de agua semanalmente para ditribuição. <br>Essa é
                  uma grande carência de pessoas que estão nessa situação!</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                     src="/static/img/doacoes/verduras.jpg"
                     alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Temperos</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Semanal</h2>
                <p class="leading-relaxed text-base">Recebemos semanalmente temperos fresquinhos para o preparo da sopa
                  que
                  distribuimos.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                     src="/static/img/doacoes/repolho.jpg"
                     alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Legumes</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Semanal</h2>
                <p class="leading-relaxed text-base">Recebemos semanalmente Legumes para o preparo da sopa que
                  distribuimos.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                     src="/static/img/doacoes/legumes.jpg"
                     alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Legumes</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Semanal</h2>
                <p class="leading-relaxed text-base">Recebemos semanalmente Legumes para o preparo da sopa que
                  distribuimos.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                     src="/static/img/doacoes/verduras02.jpg"
                     alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Verduras</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Semanal</h2>
                <p class="leading-relaxed text-base">Recebemos semanalmente verduras frescas para o preparo da sopa que
                  distribuimos.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                     src="/static/img/doacoes/macarrão.jpg"
                     alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Macarrão</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Exporádicos</h2>
                <p class="leading-relaxed text-base">Recebemos vários tipos de mantimentos que nos ajuda na preparação
                  da sopa que oferecemos.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="-mt-20 ml-10">
        <h1 class="text-2xl font-semibold">Se deseja fazer doações de Alimentos como:</h1>
        <ul class="ml-8 text-xl">
          <li>Legumes;</li>
          <li>Frango;</li>
          <li>e Outros.</li>
        </ul>
        <h1 class="text-xl font-semibold mt-2">Utilize os canais abaixo:</h1>
        <div class="mt-4">
          <table class="w-full">
            <tbody class="bg-white text-lg">
              <tr>
                <td class="px-4 py-2 font-semibold">Email</td>
                <td>imepc@outlook.com</td>
              </tr>
              <tr>
                <td class="px-4 py-2 font-semibold">Telefone</td>
                <td>Diáconisa Adriana Flávia (11) 90000-1111 </td>
              </tr>
              <tr>
                <td class="px-4 py-2 font-semibold">Endereço</td>
                <td>R. Murilo Furtado, 849 Pq. Vitória São Paulo </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>